<nav class="navbar navbar-fixed-top">
  <a routerLink=""
    ><img src="../../../assets/img/logo.png" class="logo" alt=""
  /></a>
</nav>

<div class="container">
  <div class="form">
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="heading">
        <h3>Sign In</h3>
        <br />
      </div>
      <div *ngIf="errorMessage" class="invalid-feedback d-block">
        <strong> {{ errorMessage }}</strong>
      </div>
      <div class="wrap2">
        <label for="">E-mail</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
        />
        <span class="focus-input2"></span>
      </div>

      <div class="wrap2">
        <label for="">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          #password="ngModel"
        />

        <span class="focus-input2"></span>
      </div>

      <button class="btn" name="login" type="submit">Log In</button><br />
    </form>
    <div class="etc-login-form">
      <p>forgot your password? <a href="#">click here</a></p>
    </div>
    <div class="etc-login-form">
      <p>
        you don't have an account yet?
        <button class="link-primary" (click)="triggerModal(modalData)">
          Register
        </button>
      </p>
    </div>
    <ng-template #modalData let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Register As</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <a href="CompanyRegister"
          ><img
            class="icons"
            src="../../../assets/img/company.PNG"
            alt="Card image cap"
        /></a>
        <a href="StudentRegister"
          ><img
            class="icons"
            src="../../../assets/img/student.PNG"
            alt="Card image cap"
        /></a>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="modal.close('Save click')"
        >
          Close
        </button>
      </div>
    </ng-template>
  </div>
  <div class="image">
    <img src="../../../assets/img/target.png" alt="" class="w-150 target" />
  </div>
</div>
