<body>
  <div class="container">
    <div class="form">
      <div class="heading">
         <strong>    <a href=""><img src="../../../assets/img/hunthiring.png" class="logo" alt=""></a>
        </strong><br>
      
        <h3>Sign In </h3><br>
        
    </div>
     
      <div class="wrap2">
        <label for="">E-mail</label>
        <input type="email" name="email" id="email">
        <span class="focus-input2"></span>
      </div>
     
      <div class="wrap2">
        <label for="">Password</label>
        <input type="password" name="password" id="password">
        <span class="focus-input2"></span>
      </div>
      <button class="btn" name="login" type="submit">Log In</button><br>
      <div class="etc-login-form">
        <p>forgot your password? <a href="#">click here</a></p>
    </div>
    <div class="etc-login-form">
        <p>you don't have an account yet? <a href="#">Register</a></p>
    </div>
    </div>
      <div class="image">
        <img src="../../../assets/img/target.png" alt="" class="w-150">
      </div>
    
  </div>
</body>