*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #5D2A42 40%, #5D2A42 20%, #ffff 40%, #ffff 80%) fixed;
    font-family: 'Montserrat', sans-serif;
    margin-top: 24%;
}

input{
    outline: none;
    border: none;
}
h3{
    color: #5D2A42;
    text-align: center;
}
.heading{
    width: 80%;
}
.logo{
    width: 100px;
}

.heading h1{
    font-size: 2rem;
    font-weight: 400;
    color: #5D2A42 ;
}

.container{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 90vh;
    background-color: #ffffff;
    display: flex;
    box-shadow: 5px 10px 38px rgba(0,0,0,0.2);
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
    margin-top: -5%;
}
.image{
    width: 55%;
    margin-left: -12.5%;
    margin-top: 11%;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wrap2{
    width: 70%;
    position: relative;
    border-bottom: 2px solid #ecb3ce ;
    margin-bottom: 13px;
}
.wrap{
    display: flex;
    width: 80%;
    justify-content: center;
}
.f1{
    border-bottom: 2px solid #ecb3ce ;
    width: 40%;
    position: relative;
}
.f2{
    border-bottom: 2px solid #ecb3ce ;
    margin-left: auto;
    width: 50%;
    position: relative;
}

label{
    font-size: 12px;
    color: #5D2A42;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    width: 80%;
    min-height: 25px;
    border-bottom: none;
    padding: 15px 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 2px;
}
input{
    display: block;
    width: 100%;
    font-size: 18px;
    background: transparent;
    color: #000000;
    font-weight: 500;
    padding:10px 0px;
}
.btn{
    margin-top: 20px;
    width: 120px;
    height: 50px;
    border-radius: 40px;
    outline: none;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    background: #5D2A42;
    color: white;
    box-shadow: 8px 10px 30px rgba(0,0,0,0.2);
    transition: 0.4s;
}

.btn:hover{
    background: #d18aab;
    color: #fff;
}

.focus-input{
    position: absolute;
    display: black ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.focus-input::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.6s;
    background: #5D2A42;
}
input:focus + .focus-input::before{
    width: 100%;
}
.has-val.input + .focus-input::before{
    width: 100%;
}

.focus-input2{
    position: absolute;
    display: black ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.focus-input2::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.6s;
    background: #5D2A42;
}
input:focus + .focus-input2::before{
    width: 100%;
}
.has-val.input + .focus-input2::before{
    width: 100%;
}

input[type="number"]{
    overflow: hidden;
}

@media(max-width:1250px){
    .container{
        width: 90%;
    }
}

@media(max-width:768px){
    .container{
        width: 100%;
        height: 100vh !important;
        position: static;
        transform: translate(0,0);
    }
}

a{
    color: #d18aab;
}
