<app-comp-header></app-comp-header>
<div class="page-content">
  <div class="form-v7-content">
    <div class="form-left">
      <img src="../../../../assets/img/vision.jpg" alt="form" />
      <p class="text-1">New Offer</p>
      <p class="text-2">Privaci policy & Term of service</p>
    </div>
    <form  [formGroup]="form" class="form-detail" action="#" method="post" id="myform">
      <div class="form-row">
        <label for="title">Title</label>
        <input
          type="text"
          name="offre_title"
          id="offre_title"
          class="input-text"
        />
      </div>
      <div class="form-group">
        <label for="offer_type">Type</label>
        <select
          formControlName="offer_type"
          class="form-control"
          (change)="changeOfferType($event)"
        >
          <option disabled>Select Website</option>
          <option *ngFor="let t of type">{{ t }}</option>
        </select>
        <div
          *ngIf="f.offer_type.touched && f.offer_type.invalid"
          class="alert alert-danger"
        >
          <div *ngIf="f.offer_type.errors.required">Name is required.</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-row">
          <label for="title">Skills</label>
          <button
            type="button"
            class="btn btn-outline-info btngroup"
            (click)="triggerModal(modalData)"
          >
            Add
          </button>
        </div>
      </div>
      <div class="form-row">
        <label for="title">Company's name</label>
        <input
          type="text"
          name="entreprise_name"
          id="entreprise_name"
          class="input-text"
        />
      </div>
      <div class="form-row">
        <label for="title">Description</label>
        <input
          type="text"
          name="description"
          id="description"
          class="input-text"
        />
      </div>
      <div class="form-row">
        <label for="title">Link</label>
        <input type="text" name="link" id="link" class="input-text" />
      </div>
      <div class="form-row">
        <label for="title">City</label>
        <input type="text" name="city" id="city" class="input-text" />
      </div>

      <div class="form-row-last">
        <input
          type="submit"
          name="register"
          class="register"
          value="Register"
        />
        <p>Or<a href="#">Save</a></p>
      </div>
    </form>

    <ng-template #modalData let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">New Skill</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form">
          <div class="wrap">
            <div class="f1">
              <label for="">Name</label>
              <input
                [(ngModel)]="skill.name"
                class="form-control"
                placeholder="name"
                required
              />
              <span class="focus-input"></span>
            </div>
            <button class="btn btn-success" (click)="onAddSkills(skill)">Add</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="modal.close('Save click')">
          Close
        </button>
      </div>
    </ng-template>
  </div>
</div>
