<app-comp-header></app-comp-header>
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        *ngIf="user"
        class="
          col-lg-6
          pt-5 pt-lg-0
          order-2 order-lg-1
          d-flex
          flex-column
          justify-content-center
        "
      >
        <h1>{{ user.username }}</h1>
        <h2>Let's start hunting candidats</h2>
        <div class="d-flex">
          <a href="#about" class="btn-get-started scrollto">let's go</a>
          <a
            href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
            class="glightbox btn-watch-video"
            ><i class="bi bi-play-circle"></i><span>Know about Us</span></a
          >
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img
          src="../../../../assets/img/comp.png"
          class="img-fluid animated"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Offers</h2>
        <p>We offer you what u can't find easily.</p>
      </div>

      <div
        *ngFor="let o of offer"
        class="row align-items-center justify-content-between mb-30"
      >
        <div class="col" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon">
              <i class="col bi bi-laptop"
                ><a href="">{{ o.title }}</a></i
              >
            </div>
            <div class="job-content">
              <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                <li class="mr-md-4">
                  <i class="zmdi zmdi-pin mr-2"></i> {{o.city}}
                </li>
                <li class="mr-md-4">
                  <i class="zmdi zmdi-money mr-2" *ngIf="o.offer_type==1" >Internship</i>
                  <i class="zmdi zmdi-money mr-2" *ngIf="o.offer_type==2" >CDD</i>
                  <i class="zmdi zmdi-money mr-2" *ngIf="o.offer_type==3" >CDI</i>
                </li>
                <li class="mr-md-4">
                  <i class="zmdi zmdi-time mr-2"></i> {{o.created_on | date}}
                </li>
              </ul>
            </div>
            <p>{{ o.description }}</p>

            <div class="job-right my-4 flex-shrink-0">
              <div class="a2 btn d-block w-100 d-sm-inline-block btn-light">
                <div class="a2" routerLink="../../company/editOffer/{{o.id}}">Edit Offer</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

</main>
