<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register As Student</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="form">
    <form action="GET"  [formGroup]="registerForm" (ngSubmit) = "onSubmit()">
      
      <div class="heading">
        <img src="../../assets/hunthiring.png" alt="" class="logo">
        <h1>Register as a Company</h1>
      </div>
      <div class="wrap">
        <div class="f1">
          <label for="">First Name</label>
          <input type="text" name="firstname" id="firstname" formControlName="firstName" class="form-Control" [ngClass]="{'is-invalid': submitted && f.firstName.errors}">
          <span class="focus-input"></span>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">
              First Name is required
            </div>
          </div>
        </div>
        <div class="f2">
          <label for="">Last Name</label>
          <input type="text" name="lastName" id="LastName" formControlName="lastName" class="form-Control" [ngClass]="{'is-invalid': submitted && f.lastName.errors}">
          <span class="focus-input"></span>
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">
              Last Name is required
            </div>
          </div>
        </div>
      </div>
      <div class="wrap2">
        <label for="">E-mail</label>
        <input type="text" name="email" id="email" formControlName="email" class="form-Control" [ngClass]="{'is-invalid': submitted && f.email.errors}">
        <span class="focus-input2"></span>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">
            E-mail is required
          </div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="wrap2">
        <label for="">Password</label>
        <input type="password" name="password" id="password" formControlName="password" class="form-Control" [ngClass]="{'is-invalid': submitted && f.password.errors}">
        <span class="focus-input2"></span>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">
            Password is required
          </div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="wrap2">
        <label for="">Confirm Password</label>
        <input type="password" name="confirmpassword" id="confirmpassword" formControlName="confirmPassword" class="form-Control" [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors}">
        <span class="focus-input2"></span>
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
      </div>
      </div>
      <button class="btn">Register</button>
    
    </form>
    </div>
      <div class="image">
        <img src="../../assets/register comany.jpg" alt="">
      </div>
    
  </div>
</body>
</html>	