<app-header></app-header>
  
  <div class="card">
    <img src="../../../assets/img/vision.jpg" class="card-img-top" />
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                    <img class="center" src="../../../assets/img/company.PNG"  alt="Card image cap">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a routerLink="CompanyRegister" class="btn btn-primary2">Sign up as company</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              
              <div class="card">
                <div class="card-body">
                    <img class="center" src="../../../assets/img/student.PNG"  alt="Card image cap">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a routerLink="StudentRegister" class="btn btn-primary2">Sign up as student</a>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
