html {
  //overflow-y: hidden;
  overflow-x:hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  position: absolute;
  background: transparent;
}
@media only screen and (max-width: 768px){
  body{
    width: auto;
    height: auto;
  }
}